/* ============ base styles ============ */
:root {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

.container {
  width: min(90%, 102.4rem);
  margin-inline: auto;
}

/* ============ utils ============ */
.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.img-fluid {
  display: block;
  width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* ============ buttons ============ */
.button {
  border: none;
  border-radius: 0.4rem;
  font: inherit;
  padding: 0.4rem 2.4rem 0.8rem;
  background-color: #477e80;
  color: #f9faf8;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.button:hover {
  cursor: pointer;
  background-color: #3d7779;
}

.button-outline {
  border: 0.2rem solid #f9faf8;
}

/* ============ header / nav ============ */
.main-header {
  background-color: #0e0e0e;
  padding-block: 2rem;
}

.main-header .container {
  gap: 1.6rem;
  flex-wrap: wrap;
}

.logo {
  font-size: 2.4rem;
  color: #f9faf8;
}

.logo,
.nav-link {
  text-decoration: none;
}

.nav-menu {
  gap: 3.2rem;
  flex-wrap: wrap;
  list-style: none;
}

.nav-link {
  font-size: 1.8rem;
  color: #e5e7eb;
  position: relative;
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0.2rem;
  background-color: #477e80;
  border-radius: 0.4rem;
  transition: width 0.3s ease;
}

.nav-link:hover::before {
  width: 100%;
}

/* ============ hero ============ */
.hero {
  background: linear-gradient(90deg, #0e0e0eec, #0e0e0eb4),
    url('images/hero-bg.jpg') no-repeat center / cover;
  background-color: #0e0e0e;
  padding-block: 10rem;
}

.hero .container {
  gap: 3.8rem;
  flex-wrap: wrap;
}

.hero-content {
  flex: 1;
}

.hero-title {
  font-size: clamp(3.2rem, 5vw, 4.8rem);
  font-weight: 800;
  line-height: 1;
  color: #f9faf8;
  margin-bottom: 1.6rem;
}

.hero-subtext {
  font-size: clamp(1.6rem, 5vw, 1.8rem);
  color: #e5e7eb;
  margin-bottom: 1.6rem;
}

.hero-image {
  width: min(100%, 50rem);
}

/* ============ random information ============ */
.random-information {
  padding-top: 4rem;
  padding-bottom: 10rem;
}

.secondary-title {
  text-align: center;
  font-size: clamp(2.8rem, 5vw, 3.6rem);
  font-weight: 800;
  line-height: 1;
  color: #0e0e0e;
  margin-bottom: 3.6rem;
}

.random-information-cards {
  gap: 1.6rem;
  flex-wrap: wrap;
}

.random-information-card {
  min-width: 20rem;
  flex: 1;
  color: #616a76;
  text-align: center;
}

/* ============ testimonial ============ */
.testimonial {
  padding-block: 12rem;
  background-color: #e5e7eb;
}

.testimonial-text,
.testimonial-author {
  max-width: 76rem;
  margin-inline: auto;
  color: #0e0e0e;
}

.testimonial-text {
  display: block;
  font-size: clamp(2.8rem, 5vw, 3.6rem);
  font-weight: 300;
  font-style: italic;
  margin-bottom: 1.6rem;
}

.testimonial-author {
  font-weight: 700;
  font-size: clamp(1.8rem, 5vw, 2.4rem);
  text-align: end;
}

/* ============ cta ============ */
.cta {
  padding-block: 12rem;
}

.cta-card {
  background-color: #477e80;
  padding: 4.4rem;
  border-radius: 1rem;
}

.cta-container {
  max-width: 76rem;
  margin-inline: auto;
  flex-wrap: wrap;
  gap: 1.6rem;
}

.cta-title {
  font-size: clamp(2.2rem, 5vw, 2.4rem);
  color: #f9faf8;
}

.cta-text {
  font-size: clamp(1.6rem, 5vw, 1.8rem);
  color: #e5e7eb;
  max-width: 54rem;
}

/* ============ footer ============ */
.footer {
  background-color: #0e0e0e;
  color: #e5e7eb;
  text-align: center;
  padding-block: 3.2rem;
}
