:root {
  --bright-gray: hsl(220, 13%, 91%);
  --eerie-black: hsl(238, 33%, 15%);
  --independence: hsl(236, 9%, 36%);
  --flavescent: hsl(45, 90%, 76%);
  --sea-serpent: hsl(178, 48%, 57%);
  --laurel-green: hsl(94, 38%, 69%);
  --tulip: hsl(2, 86%, 75%);

  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-weight: 700;
  color: var(--eerie-black);
}

h2 {
  font-size: 4rem;
}

body {
  position: relative;

  font-family: 'Hind', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;

  color: var(--independence);
}

section {
  padding-block: 8rem;
}

/* utilities */
.container {
  width: min(90%, 100rem);
  margin-inline: auto;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* general styles */

/* buttons */
[class*='--primary'] {
  background-color: var(--eerie-black);
  color: var(--bright-gray) !important;
}

.button {
  padding-top: 0.9rem;
  padding-bottom: 0.8rem;
  padding-inline: 2.4rem;
  border-radius: 0.8rem;

  font-weight: 600;
}

.button--outline {
  color: var(--bright-gray);
  box-shadow: inset 0 0 0 0.2rem var(--bright-gray);
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block: 2.8rem;
}

.navbar__navigation {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.navbar__link {
  font-size: 1.8rem;
  color: var(--independence);
}

/* logo */
.logo {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--eerie-black);
}

/* hero */
.hero {
  display: flex;
  align-items: center;
  gap: 6rem;

  padding-block: 8rem;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;

  font-size: 1.8rem;
}

.hero__content h1 {
  font-size: 3.6rem;
}

.hero__image {
  display: block;
  width: 50%;

  border-radius: 0.8rem;
  transform: rotate(5deg);
}

/* features */
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.features__group {
  display: flex;
  gap: 2.4rem;
}

.features__card {
  flex: 1;

  padding: 2.4rem;

  border-radius: 0.8rem;

  cursor: pointer;

  color: var(--eerie-black);
}

.features__card:nth-child(even) {
  transform: translateY(3.2rem);
}

.features__card:nth-child(1) {
  background-color: var(--flavescent);
}

.features__card:nth-child(2) {
  background-color: var(--sea-serpent);
}

.features__card:nth-child(3) {
  background-color: var(--laurel-green);
}

.features__card:nth-child(4) {
  background-color: var(--tulip);
}

.features__card::before {
  content: '#' attr(data-feature-card);

  font-size: 6.4rem;
  font-weight: 700;
}

/* testimonial */
.testimonial__text {
  font-size: 3rem;
  font-weight: 300;
  font-style: italic;
}

/* cta */
.cta__card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2.8rem 6.4rem;
  border-radius: 0.8rem;

  background-color: var(--eerie-black);
}

.cta__content * {
  color: var(--bright-gray);
}

/* footer */
.footer {
  padding-block: 2.4rem;
  text-align: center;
}
